body {
  background-color: rgb(230, 227, 225);
  text-align: center;  
}

img {
  width: 500px; 
  height: 300px;
}

button {
  float: left;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 12px;
  border-radius: 20px;
  padding: 10px;
}

button:hover {
  background-color: pink;
  color: black;
}
